*{
    margin: 0;
    padding: 0;
}

.box-2 {
    background: #fbf1c0;
}

.box-2 p {
    color: #407273;
    padding: 10px;
    border-bottom: 2px solid #ffffff;
}

span.day {
    color: #808080;
}

h4 {}

.competition-box ul {
    background: white;
    border: 1px solid #dadada;
    padding: 15px;
    margin-bottom: 10px;
    list-style: none;
}

.competition-box {
    border-top: 1px solid #dadada;
    margin-top: 10px;
    padding-top: 8px;
}

.new-box p {width: 158px;line-height: 20px;}

.new-box {
    background: white;
    border-top: 2px solid #ffa500;
    padding: 20px 40px;
    position: relative;
}

div#news {
}

a {
    text-decoration: none;
    color: #0a6395;
}

.box-3 {
    background: #f4f4ec;
    position: relative;
    height: 40px;
    padding: 15px 0px 10px 20px;
}

.new-box img {
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 120px;
}

.box-3 img {
    position: absolute;
    top: -4px;
    right: 0;
    width: 94px;
    height: 68px;
}

.box-1 b {
    color: #216383;
}

.box-1 p {
    padding-left: 10px;
    line-height: 15px;
}

#blog-roll .box-1 img {border: 2px solid rgba(193, 183, 183, 0.74);}

.box-1 {
    background: white;
    display: flex;
    border-top: 2px solid #ffa500;
    padding: 10px;
}

h3 {
    font-size: 14px;
}

div#blog-roll {
}

div#container {
    background: #e6f3f9;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
