@media screen and (max-width:640px) {

.phone_pc {
  display: none !important;
}

.phone_sp {
  display: inline-block !important;
}

div.float,
img.float,
a.float,
.float {
  float: none;
  text-align: center;
  margin: 7px auto;
  display: inline-block;
  box-sizing: border-box;
}

div.aside {
    max-width: 98%;
}

div.header {
  float: none;
  height: auto;
  padding: 14px 0 10px 0;
}

div.header-phone {
  float: none;
  margin: 0 auto;
  text-align: center;
}

div.header-phone img {
  float: none;
}

div.inner {
  height: auto;
  margin: 0 auto;
  padding: 0 1%;
  text-align: center;
  width: 98%;
  min-width: 50%;
}

/*  div.aside {
  float: none;
  width: 98%;
  margin: 5px auto;
}
div.content {
  float: none;
  width: 98%;
  margin: 6px auto;
} */

div.banner {
  display: none;
}

div.article_index {
  text-align: center;
}

.article_index_1 {
    width: 96%;
}



.footer-right {
  padding: 10px 0px 0px 20px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-right ul {
  display: block;
  width: 48%;
}

.footer-right ul li {
  width: 80%;
}

.footer-right ul li.menu_sub {
  margin-left: 10px;
}

.footer-left {
  border-right: none;
  border-bottom: 3px solid #f2f2f2;
  padding-bottom: 8px;
  margin-top: 30px !important;
}

div.text-main {
  width: 100%;
  text-align: left;
}

div.article_main {
  background: none;
  border: 10px solid #f4e27a;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  height: auto;
  padding: 15px 20px;
}

div.article_main h2 {
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 2.8;
}

img.content_4 {
  height: auto;
}

}