* {
    margin: 0;
    padding: 0;
}
.box {
    border-top: 1px solid #353439;
    padding: 18px 0;
    margin-top: 15px;
}
.box-text {
    margin-top: 22px;
}
.list ul {
    list-style: none;
}
.list li:before {
    content: "";
    border-color: rgba(107, 76, 76, 0) #838080;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: 0;
    top: 0.9em;
    position: relative;
}
.list li a {
    color: #9494a0;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
    text-decoration: underline;
    padding-left: 10px;
}
.list-right {
    float: left;
    width: 50%;
}
.list {
    float: left;
    width: 50%;
}
.white {
    color: white;
    padding-bottom: 4px;
}
.content-2 {
    margin-top: 70px;
}
a.more-info {
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
}
a.more-info:before {
    content: url(images/arr_1.gif);
    margin-right: 4px;
    float: left;
}
.content-text p {
    margin-top: 36px;
    line-height: 15px;
}
.content-text h4 {
    color: white;
}
.content-text {
    padding-right: 20px;
}
.content-box {
    border-bottom: 1px dotted #3f3f41;
    padding: 12px 0px;
}
.content-box:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.content-box img {
    float: left;
    margin-right: 14px;
}
.title {
    margin-bottom: 30px;
}
.topic-right {
    float: left;
    background: #232227;
    width: 196px;
    height: 300px;
    padding: 50px 19px 20px 40px;
    margin-left: 30px;
}
.topic-left {
    width: 450px;
    float: left;
}
div#container {
    background: #121214;
    color: #797782;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 26px 25px;
    margin: 0 auto;
    width: 1000px;
}
body {
    font-family: arial, serif;
    font-size: 0.6875em;
}